<a href="https://colab.research.google.com/github/Gaurav-poddar/Global-Hack-Week-AI-ML-Week-Challenges/blob/main/GHW_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this project i will be analyzing Ipl match dataset  from season 2008-2020 to answer some questions.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Dataset Source = https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020?resource=download
df_match = pd.read_csv('/content/IPL Matches 2008-2020.csv')
df_match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
df_match.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [77]:
# Who won maximum number of man of the match? How many times did he won?

# creating a series of duplicates in the 'player_of_match' column and its count
dups = df_match.pivot_table(index = ['player_of_match'], aggfunc ='size')
dups.describe()
print("Player with most man of the match is:",dups.idxmax())
print("Number of times he won is:",dups[dups.idxmax()])

Player with most man of the match is: AB de Villiers
Number of times he won is: 23

In [85]:
# In which city the  maximum number matches were played? How many times did he won?

# creating a series of duplicates in the 'city' column and its count
dups = df_match.pivot_table(index = ['city'], aggfunc ='size')
dups.describe()
print("City where maximum matches were played :",dups.idxmax())
print("Number of times played:",dups[dups.idxmax()])

City where maximum matches were played : Mumbai
Number of times played: 101